<h1><%= @cocktail.name %></h1>

<%# TODO: Dose needed for each ingredient %>

<p><% @cocktail.doses.each do |dose| %></p>
<div class="card">
  <p class="card-text"><%= dose.description %> <%= dose.ingredient.name%></p>
  <i class="far fa-trash-alt"><%= link_to "Remove", dose_path(dose), method: :delete, data: {confirm: "Are you sure?"} %></i>
  <% end %>
</div>

<%= render "doses/new_dose_form"%>

<p><%= link_to "Back to cocktails list", root_path %></p>


